name: Parse Anekdots

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run parser
      run: python parse_anekdots.py

    - name: Upload Excel
      uses: actions/upload-artifact@v4
      with:
        name: anekdots-all
        path: output/*.xlsx
